<!DOCTYPE html>
<html ng-app='AngularApp'>
<style>
    .even {
        background-color:  #FFFFFF
    }

    .odd {
        background-color: #00CCFF;
    }


</style>

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="scripts/issue-tracker.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body ng-controller="mainCtrl">
<div class="container-fluid">


    <div class="list-group">
        <div class="col-sm-3 col-sm-offset-2">
            <h2>List of open issues: </h2>

            <table>
                <tr>
                    <th>Issue</th>
                    <th>Description</th>
                </tr>

                <tr ng-repeat="item in openIssues" ng-class-odd="'odd'" ng-class-even="'even'">

                    <td> {{ item.name | uppercase }}:</td>
                    <td> {{item.description}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal col-sm-12">
            <div class="form-group">
            </div>
            <br>

            <div class="form-group">
                <label for="issueDescription" class="control-label col-sm-2">

                </label>


                <div class="col-sm-2 col-sm-offset-0">
                    <h2>create a new issue: </h2>
                    <br>

                    <form>
                        <input ng-model="newIssue.subject" class="form-control" placeholder="Subject"
                               type="text"/>
                        <br><br>
                        <textarea ng-model="newIssue.content" placeholder="Leave a comment" id="issueDescription"
                                  class="form-control"></textarea>
                        <br>
                        <button ng-click="addNewIssue(newIssue)" id="addBtn" class="btn btn-success btn-lg">
                            Submit new issue
                        </button>

                    </form>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>